  /* Styles for empty cart */
  .emptyCart{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding-top: 40px;
  margin-top: 3%;
  visibility: hidden;
  }

  .emptyCart img{
  width: 5%;
  margin-bottom: 10px;
  }

  .emptyCart p{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgb(202, 195, 195);
  }

  .emptyCart button{
  padding: 16px 0;
  background-color: rgb(48, 47, 47);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  margin-top: 10px;
  color: white;
  width: 25%;
  }


  .checkout{
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  background-color: rgb(245, 239, 239);
  }

  .bottom-nav{
  padding-bottom: 15px;
  }

  .checkoutParent{
  padding-top: 20px;
  }

   .checkoutParent h1{
  margin: 10px 0;
  }


  .mainCheckout-container{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
  }

  .checkoutLeft{
  display: flex;
  flex-direction: column;
  flex: 1;
  }

  .checkoutContents{
  display: flex;
  align-items: center;
  flex: 1;
  background-color: white;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
  max-width: 670px;
  border-radius: 5px;
  margin-bottom: 10px;
  }

  .checkoutTop{
  display: flex;
  gap: 17px;
  }

  .checkoutImage{
  width: 95px;
  }

  .checkoutImage img{
  min-width: 95px;
  }

  .checkoutItems{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .checkoutItems h1{
    font-weight: 300;
  }

  .checkoutItems p:first-of-type{
  color: green;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  }

  .CheckoutItemQuan p:first-of-type{
  color: black;
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
  }

   .CheckoutItemQuan{
  flex-direction: column;
  display: flex;
  margin-top: 18px;
  }

  .CheckoutcontrolQuan{
  display: flex;
  align-items: center;
  height: 30px;
  padding: 2px;
  border: 1px solid rgb(126, 125, 125);
  border-radius: 5px;
  }

  .CheckoutcontrolQuan button{
  border: none;
  height: 100%;
  cursor: pointer;
  background-color: white;
  }

  .CheckoutcontrolQuan button:hover{
  background-color: rgb(194, 186, 186);
  }

  .CheckoutcontrolQuan button:nth-child(3){
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  }

  .CheckoutcontrolQuan button:first-child{
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  }

  .CheckoutcontrolQuan input{
  border: none;
  width: 30px;
  height: 93%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  }

  .CheckoutcontrolQuan input:focus{
  border: none;
  outline: none;
  }


  .checkoutItems h1{
  font-size: clamp(16px, 2vw, 20px);
  color: black;
  margin-bottom: 8px;
  }

  .deleteContainer{
   margin-bottom: auto;
   margin-top: 10px;
  }

  .deleteContainer button{
  width: 40px;
  padding: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: transparent;
  background-color: rgb(201, 17, 17);
  }

  .deleteContainer button:hover{
  background-color: rgb(245, 43, 43);
  }

  .deleteContainer button:active{
  background-color: rgb(134, 25, 25);
  }

  .OrderSummary{
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 380px;
  border-radius: 3px;
  }

  .orderSummary-Top h1{
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 10px;
  }

  .orderSummary-Top{
  background-color: white;
  padding: 10px 25px 20px 25px;
  border-radius: 5px;
  }


  .orderfirst{
  border-bottom: 1px solid rgb(206, 199, 199);
  }

  .subtotal{
  display: flex;
  justify-content: space-between;
  }

  .discount{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  }

  .orderSecond{
  padding: 10px 0 33px 0;
  }

  .orderTotal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
  }

  .orderDiscount{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  }

  .orderDiscount h4, p{
  margin: 0;
  font: 16px;
  }

  .add-container button:nth-child(2){
  background-color: black;
  font-size: 24px;
  padding: 13px 0;
  }

  .add-container button:nth-child(1){
  padding: 16px 0;
  background-color: rgb(48, 47, 47);
  }

  .add-container Button:nth-child(3){
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(34, 33, 33);
  background-color: rgb(243, 182, 29);
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  margin-top: 10px;
  gap: 5px;
  padding: 12px 0;
  }

  .add-container Button:nth-child(3) img{
  width: 100px;
  margin: 0;
  }

  .orderBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  }

  .orderBottom img{
  width: 35px;
  }
  
  .promoPromo{
  background-color: white;
  padding: 20px 25px 25px 25px;
  white-space: nowrap;
  border-radius: 5px;
  margin-top: 20px;
  }

   .promoIn{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  }

  .promoPromo h3{
  font-weight: 500;
  margin: 0;
  }

  .promoPromo input{
  border: 1px solid rgb(172, 166, 166);
  background-color: white;
  padding: 17px 30px 17px 20px;
  border-radius: 4px;
  }

  .promoPromo button{
  padding: 16px 20px;
  border-radius: 4px;
  border: 1px solid rgb(172, 166, 166);
  background-color: white;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  }

  .promoPromo input::placeholder{
  font-size: 17px;
  font-weight: 100;
  color: rgb(172, 166, 166);
  }

  .promoPromo input:focus{
  outline: none;
  border: 1.5px solid black;
  }
