  /* Extra small phones (iPhone /12/13/14/15, many Androids) */
  @media (max-width: 390px) {
  .login-form {
  padding: 20px;
  }

  .button-submit,
  .btn {
  height: 45px;
  }

  .login-input {
  height: 45px;
  }

     /* Styles for empty cart */
  .emptyCart{
  margin-top: 30%;
  }

  .emptyCart img{
  width: 15%;
  margin-bottom: 5px;
  }

  .emptyCart p{
  font-size: 40px;
  margin-bottom: 10px;
  }

  .emptyCart button{
  margin-top: 5px;
  width: 60%;
  }

  .forgotPass-container {
  max-width: 250px;
  padding: 50px 60px;
  }

  .signup {
  width: 310px;
  margin-top: 30px;
  }

  .right-sub-icon{
  display: flex;
  visibility: hidden;
  display: none;
  }

  .top-nav {
  visibility: hidden;
  display: none;
  }

  .main-mobile-nav{
  visibility: visible;
  }

  .mobile-input{
  padding: 12.5px 0;
  }

  .main-container{
  margin-top: 125px;
  }

  .first-banner-container{
  margin-top: 30px;
  }

  .threeCards-container{
  margin: 20px 0 40px 0;
  }

  .OrderSummary{
  max-width: 367px;
  }

  .main-mobile-nav{
  padding-bottom: 15px;
  }

  .intervalContainer{
  margin-top: 20px;
  }

  .checkoutRight{
  display: flex;
  gap: clamp(10px, 2vw, 20px);
  }

  .checkoutRight h1{
  font-size: clamp(16px,2vw, 20px);
  font-weight: 300;
  }

  .checkoutRight img{
  width: clamp(20px, 2vw, 25px);
  }

  /* Form */

  .checkoutMain{
  flex-direction: column;
  padding: 0 5px;
  margin: 20px 0;
  }

  .formSub{
  padding: 20px 0;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  }

  .selectDeliverySub{
  padding: 0 3px;
  }

  .selectDelivery button:nth-child(2){
  padding: 0;
  width: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
  }

  .selectDelivery button{
  padding: 0;
  width: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
  }

  .formSub h1{
  margin-left: 4px;
  }

  .selectDelivery button p{
  font-weight: 500;
  font-size: 15px;
  }

  .closeDrop{
  width: 100%;
  padding-right: 0;
  }

  /* Edit Items modal */

  .editItems{
  padding: 0 10px;
  }

  .editItems-Container{
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  }

  .editItems-Container button{
  width: 94%;
  }

  .editItems-Container a button{
  padding: 16px 104px;
  }

  /* Trends */

  .trend h1{
  font-size: 25px;
  letter-spacing: 4px;
  }

  .trend h3{
  font-weight: 200;
  font-size: 19px;
  }

  .trend1{
  gap: 5px;
  }

  .trend1 button, 
  .trendItem button{
  padding: 5px 9.5px;
  font-size: 16px;
  }

  .trend1 button:first-child{
  padding: 5px;
  }

  }

  /* iphone 11 */
  @media (min-width: 410px) and (max-width: 420px){
  .main-container{
  margin-top: 125px;
  }

    /* Styles for empty cart */
  .emptyCart{
  margin-top: 30%;
  }

  .emptyCart img{
  width: 15%;
  margin-bottom: 5px;
  }

  .emptyCart p{
  font-size: 40px;
  margin-bottom: 10px;
  }

  .emptyCart button{
  margin-top: 5px;
  width: 60%;
  }

  .first-banner-container{
  margin-top: 30px;
  }

  .threeCards-container{
  margin: 20px 0 40px 0;
  }

  .right-sub-icon{
  display: flex;
  visibility: hidden;
  display: none;
  }

  .mobile-input{
  padding: 13px 0;
  }

  .checkout{
  margin-top: 0;
  padding-top: 140px;
  }


  .first-button{
  padding: 6.5px 7px;
  }

  .second-button{
  padding: 6.6px 7px;
  }

  .main-mobile-nav{
  padding-bottom: 15px;
  }

  .intervalContainer{
  margin-top: 20px;
  }

  /* Form */

  .checkoutMain{
  flex-direction: column;
  padding: 0 5px;
  margin: 20px 0;
  }

  .formSub h1{
  margin-left: 4px;
  }

  .formSub{
  padding: 20px 0;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  }

  .selectDeliverySub{
  padding: 0 3px;
  }

  .selectDelivery button:nth-child(2){
  padding: 0;
  width: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
  }

  .selectDelivery button{
  padding: 0;
  width: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
  }

  /* Edit Items modal */
  .editItems-Container{
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
  }

  .editItems-Container button{
  width: 95%;
  }

  .editItems-Container a button{
  padding: 16px 117px;
  }


  /* Trends */

  .trend h1{
  font-size: 25px;
  letter-spacing: 4px;
  }

  .trend h3{
  font-weight: 200;
  font-size: 19px;
  }

  .trend1{
  gap: 5px;
  }

  .trend1 button, 
  .trendItem button{
  padding: 5.5px 13px;
  font-size: 16px;
  }

  .trend1 button:first-child{
  padding: 5.5px;
  }

  }

  /* Small–medium phones (iphone 14Promax) */
  @media (min-width: 420px) and (max-width: 500px) {

  .mobile-input{
  padding: 12.3px 0;
  }

     /* Styles for empty cart */
  .emptyCart{
  margin-top: 30%;
  }

  .emptyCart img{
  width: 15%;
  margin-bottom: 5px;
  }

  .emptyCart p{
  font-size: 40px;
  margin-bottom: 10px;
  }

  .emptyCart button{
  margin-top: 5px;
  width: 60%;
  }

  .main-container{
  margin-top: 125px;
  }

  .first-banner-container{
  margin-top: 30px;
  }

  .threeCards-container{
  margin: 20px 0 40px 0;
  }

  .right-sub-icon{
  display: flex;
  visibility: hidden;
  display: none;
  }

  .checkout{
  margin-top: 0;
  padding-top: 140px;
  }

  .main-mobile-nav{
  padding-bottom: 15px;
  }

  .intervalContainer{
  margin-top: 20px;
  }

  /* Form */

  .checkoutMain{
  flex-direction: column;
  padding: 0 5px;
  margin: 20px 0;
  }

  .formSub{
  padding: 20px 0;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  }

  .selectDeliverySub{
  padding: 0 3px;
  }

  .selectDelivery button:nth-child(2){
  padding: 0;
  width: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
  }

  .selectDelivery button{
  padding: 0;
  width: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
  }

  .formSub h1{
  margin-left: 4px;
  }

  .selectDelivery button p{
  font-weight: 500;
  font-size: 15px;
  }

  .closeDrop{
  width: 100%;
  padding-right: 0;
  }

  /* Edit Items modal */

  .editItems-Container{
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
  width: 97%;
  }

  .editItems-Container button{
  width: 94%;
  }

  .editItems-Container a button{
  padding: 16px 124px;
  }

  /* Trends */

  .trend h1{
  font-size: 25px;
  letter-spacing: 4px;
  }

  .trend h3{
  font-weight: 200;
  font-size: 19px;
  }

  .trend1{
  gap: 5px;
  }

  .trend1 button, 
  .trendItem button{
  padding: 6px 15px;
  font-size: 16px;
  }

  .trend1 button:first-child{
  padding: 6px;
  }


  }

  /* Tablets (portrait) */
  @media (max-width: 768px) {
  .login-form {
  width: 330px;
  }

  .signup {
  width: 310px;
  margin-top: 30px;
  }

  .forgotPass-container {
  max-width: 250px;
  padding: 50px 60px;
  }

  .top-nav {
  visibility: hidden;
  display: none;
  }

  .main-mobile-nav{
  visibility: visible;
  }

  .right-sub-icon{
  display: flex;
  visibility: hidden;
  display: none;
  }

  }

  /* Small laptops (tabs)*/
  @media (max-width: 1024px) {
  .login-form {
  /* width: 55%; */
  }

  .right-sub-icon{
  display: flex;
  visibility: hidden;
  display: none;
  }

  .top-nav {
  visibility: hidden;
  display: none;
  }

  .main-mobile-nav{
  visibility: visible;
  }

  .mobile-input{
  padding: 12.5px 0;
  }

  .checkout{
  margin-top: 0;
  padding: 140px 10px 20px 10px;
  }

  .main-mobile-nav{
  padding-bottom: 15px;
  }

  .intervalContainer{
  margin-top: 20px;
  }

  }

  /* Large desktops */
  @media (min-width: 1440px) {
  .login-form {
  width: 450px; /* Keep fixed on big screens */
  }
  }


  /* iphone 11 and iphone 12 screens */
  @media(max-width: 414px){
  .logingNav-main{
  padding: 10px 10px 10px 0;
  font-size: clamp(15px, 2vw, 18px);
  white-space: nowrap;
  }

  }

  /* Mobile phones */
  @media(max-width: 480px){
  /* Navigation */
  .subHover{
  display: none;
  visibility: hidden;
  }
  .NewHover{
  display: none;
  visibility: hidden;
  }

  .logingNav-main{
  padding: 10px 5px 10px 0;
  font-size: clamp(15px, 2vw, 18px);
  }

  .logingNav-main button{
  white-space: nowrap;
  }

  .logingNavIcon img{
  width: 100px;
  }

  .threeCards-container{
  grid-template-columns: repeat(1, 1fr);
  row-gap: 17px;
  }

  .itemDetail div h1{
  font-size: 16px;
  white-space: normal;
  max-width: 310px;
  margin-top: 7px;
  margin-right: 10px;
  }

  .mainCheckout-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 0;
  padding: 10px;
  gap: 15px;
  }

  /* checkout form */

  .contactDetails{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  }

  .paymentOrder{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  }

  .formField{
  position: relative;
  width: 97%;
  padding-left: 7px;
  visibility: visible;
  }

  .formField p{
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 3px;
  margin: 25px 0;
  }

  .formField label{
  font-weight: 300;
  }

  .formField input, 
  .formField select{
  width: 90%;
  margin: 20px 0;
  padding: 14px;
  border: 1px solid rgb(182, 177, 177);
  border-radius: 4px;
  }

  .formField input:focus{
  outline: none;
  border: 1px solid black;
  }

  .formField select, 
  .payments select:focus{
  outline: none;
  }

  .formField select{
  width: 97%;
  font-size: 17px;
  }

  .selectDelivery button:nth-child(2){
  padding: 10px 20px;
  gap: 10px;
  }

  .selectDelivery button{
  padding: 10px 20px;
  gap: 10px;
  }

  .selectDelivery button p{
  font-weight: 600;
  }

  .checkoutSub{
  width: 100%;
  padding: 0 10px;
  }

  .Checkoutleft img{
  width:150px;
  }

  .modal {
  width: 360px;
  padding: 20px 10px;
  }

  .split input {
  width: 83%;
  }

  .split {
  gap: 0;
  }

  .controlQuan input{
  border: none;
  width: 30px;
  height: 80%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  }

  .checkoutParent{
  padding-top: 0;
  }


  .promoIn{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  }

  .promoPromo input{
  padding: 15.5px 16px;
  width: 255px;
  display: flex;
  margin-bottom: 16px;
  }

  .promoPromo button{
  padding: 14px 16px;
  width: 100px;
  color: black;
  display: flex;
  }

  .checkoutImage{
  width: 25%;
  }

  .WishesSub{
  padding: 5px 10px;
  }

  .wishesButton button{
  padding: 5px 2px;
  border-radius: 5px;
  font-size: 14px;
  }

  .wishlist-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 650px;
  margin: 20px 5px;
  border-radius: 3px;
  }

  .Wishesleft img{
  width: 140px;
  }

  .wishesButton a{
  text-decoration: none;
  }

  .wishesCont a{
  display: flex;
  align-items: center;
  gap: 7px;
  }

  .wishesCont p{
  font-size: 16px;
  }

  .wishesCont img{
  width: 20px;
  }

  .item-container,
  .mens-container,
  .kids-container,
  .womens-container{
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  }

  .shop-container-sub{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: left;
  }

  .main-container{
  padding: 0 10px;
  }

  .mobile-nav-left a{
  text-decoration: none;
  }

  .topImg-container{
  height: fit-content;
  }

  .viewCards{
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
  max-height: fit-content;
  gap: 0;
  }

  .imgContainer{
  height: 228px;
  width: 100%;
  }

  .imgContainer img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  }

  .viewSub p{
  font-size: 10px;
  }

  .bottomItem-container{
  margin: 0;
  padding: 15px 0 8px 8px;
  }

  .itemsCont{
  max-width: 100%;
  }

  .addItem{
  font-size: 16px;
  margin-top: 20px;
  }

  .HoverDiv{
  height: 100%;
  }

  .bottomItem-top h1{
  margin-top: 0px;
  }

  .bottomItem-top h3{
  font-weight: 400;
  font-size: clamp(16px, 2vw, 16px);
  }

  .viewSub{
  top: 100px;
  max-width: 400px;
  min-width: 400px;
  height: fit-content;
  padding-bottom: 13px;
  }

  .fourCards-container{
  grid-template-columns: repeat(1, 1fr);
  row-gap: 17px;
  }

  .sixCards-container{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  }

  .threeEach{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin-bottom: 100px;
  margin-bottom: 0;
  height: 100%;
  }

  .card{
  width: 100%;
  height: 90%;
  padding-bottom: 0;
  }

  .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .contents-div{
  margin-top: 0;
  padding-top: 0;
  margin: 0;
  }

  .contents-div p, .contents-div h3{
  margin: 0;
  }

  .contents-div h3{
  margin-bottom: 10px;
  }

  .action-container{
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  }

  .purchase-container,
  .refer-container{
  padding: 20px 10px;
  }

  .purchase-container{
  margin-bottom: 18px;
  }

  .eightCards-container{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  }

  .brandsCards{
  grid-template-columns: repeat(2, 1fr);
  }

  .footer-container{
  display: flex;
  flex-direction: column-reverse;
  }

  .topSearches-container{
  grid-template-columns: repeat(2, 1fr);
  }

  .footerBottom{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .brandSignature{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  }

  .brandOwnership{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  }

  .brandOwnership p{
  margin: -50px 0 20px 0;
  font-weight: bold;
  }

  .footerBottom{
  padding: 15px 15px 50px 15px;
  }

  .brandSignature h2{
  visibility: hidden;
  }

  .banner-container{
  width: 100%;
  height: 300px;
  }

  .banner-container img{
  object-fit: cover;
  object-position: 0% 60%;
  width: 100%;
  height: 100%;
  }

  .newsleter-sub{
  align-items: center;
  justify-content: center;
  }

  .stayInTouch{
  margin-right: auto;
  padding: 0 50px 0 0px;
  }


  .fourCards-details{
  white-space: wrap;
  }

  .buttonContainer input{
  flex: 0;
  }

  .buttonContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }

  .submit-btn{
  padding-left: 15px;
  padding-right: 15px;
  }

  .menWomenContainer{
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: auto;
  width: 50%;
  }

  .menWomen-sub{
  width: 40%;
  }

  .footerTop{
  padding: 10px;
  }

  .footer-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: clamp(10px, 2vw, 14px);
  border-bottom: 1px solid grey;
  padding-bottom: 50px;
  }

  .quantity{
  top: -14px;
  right: -10px;
  }

  }

  /* Tablet View */
  @media(min-width: 481px) and (max-width: 768px){
  .threeCards-container{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 17px;
  }

  /* Nav */
  .right-sub-icon{
  display: none;
  visibility: hidden;
  }

  .mainCheckout-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 0;
  padding: 15px;
  }

  .checkoutImage{
  width: 22%;
  }

  .promoPromo input{
  padding: 17px;
  width: 270px;
  }

  .promoPromo button{
  padding: 16px;
  width: 150px;
  color: black;
  }

  .WishesSub{
  padding: 5px 10px;
  }

  .wishesButton button{
  padding: 5px 2px;
  border-radius: 5px;
  font-size: 16px;
  }

  .wishesButton a{
  text-decoration: none;
  }

  .Wishesleft img{
  width: 140px;
  }

  .wishesCont a{
  display: flex;
  align-items: center;
  gap: 7px;
  }

  .checkoutParent{
  padding-top: 0;
  }

  .wishesCont p{
  font-size: 16px;
  }

  .wishesCont img{
  width: 20px;
  }

  .mobile-nav-left a{
  text-decoration: none;
  }

  .item-container,
  .mens-container,
  .kids-container,
  .womens-container{
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  }

  .checkoutMain{
  flex-direction: column;
  }

  .yourOrder{
  max-width: 100%;
  padding: 20px;
  }

  .selectDeliverySub{
  padding-right: 33px;
  }

  .selectDelivery button:nth-child(2){
  padding: 10px 90px;
  gap: 15px;
  }

  .selectDelivery button{
  padding: 10px 90px;
  gap: 15px;
  }

  .OrderSummary{
  max-width: 100%;
  }

  .topImg-container{
  height: fit-content;
  }

  .bottomItem-container{
  margin: 0;
  padding: 15px 0 8px 8px;
  }

  .HoverDiv{
  height: 100%;
  }

  .bottomItem-top h1{
  margin-top: 0px;
  }

  .bottomItem-top h3{
  font-weight: 400;
  font-size: clamp(16px, 2vw, 16px);
  }

  .viewCards{
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
  max-height: fit-content;
  gap: 0;
  }

  .imgContainer{
  height: 228px;
  width: 100%;
  }

  .imgContainer img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  }

  .Itemu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }

  .itemPrice{
  margin-top: 0px;
  }

  .viewSub{
  top: 10px;
  max-width: 500px;
  min-width: 500px;
  height: fit-content;
  padding-bottom: 13px;
  }

  .itemsCont{
  max-width: 100%;
  }

  .addItem{
  font-size: 16px;
  margin-top: 0px;
  }

  .fourCards-container{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 17px;
  }

  .sixCards-container{
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  }

  .threeEach{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 100px;
  margin-bottom: 0;
  height: 100%;
  }

  .card{
  width: 100%;
  height: 90%;
  padding-bottom: 0;
  }

  .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .contents-div{
  margin-top: 0;
  padding-top: 0;
  margin: 0;
  }

  .contents-div p, .contents-div h3{
  margin: 0;
  }

  .contents-div h3{
  margin-bottom: 10px;
  }

  .action-container{
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  }

  .purchase-container,
  .refer-container{
  padding: 20px 10px;
  }

  .purchase-container{
  margin-bottom: 18px;
  }

  .eightCards-container{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  }

  .brandsCards{
  grid-template-columns: repeat(2, 1fr);
  }

  .footer-container{
  display: flex;
  flex-direction: column-reverse;
  }

  .topSearches-container{
  grid-template-columns: repeat(2, 1fr);
  }

  .footerBottom{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .brandSignature{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  }

  .brandOwnership{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  }

  .brandOwnership p{
  margin: -50px 0 20px 0;
  font-weight: bold;
  }

  .footerBottom{
  padding: 15px 15px 50px 15px;
  }

  .brandSignature h2{
  visibility: hidden;
  }

  .banner-container{
  width: 100%;
  height: 300px;
  }

  .banner-container img{
  object-fit: cover;
  object-position: 0% 60%;
  width: 100%;
  height: 100%;
  }

  .shop-container-sub{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: left;
  }

  /* checkout form */

  .contactDetails{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  }

  .paymentOrder{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  }

  .formField{
  position: relative;
  width: 97%;
  padding-left: 7px;
  visibility: visible;
  }

  .formField p{
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 3px;
  margin: 25px 0;
  }

  .formField label{
  font-weight: 300;
  }

  .formField input, 
  .formField select, 
  .payments select{
  width: 90%;
  margin: 20px 0;
  padding: 14px;
  border: 1px solid rgb(182, 177, 177);
  border-radius: 4px;
  }

  .formField input:focus{
  outline: none;
  border: 1px solid black;
  }

  .formField select, 
  .payments select:focus{
  outline: none;
  }

  .formField select{
  width: 97%;
  font-size: 17px;
  }

  .selectDelivery button:nth-child(2){
  padding: 10px 25px;
  gap: 10px;
  }

  .selectDelivery button{
  padding: 10px 25px;
  gap: 10px;
  }

  .selectDelivery button p{
  font-weight: 600;
  }

  .modal {
  width: 450px;
  padding: 20px 10px;
  }

  .checkoutSub{
  width: 100%;
  padding: 0 10px;
  }

  .Checkoutleft img{
  width:150px;
  }
  }

  /* small laptop (tabs)*/
  @media(min-width: 769px) and (max-width: 1024px){
  .item-container,
  .mens-container,
  .kids-container,
  .womens-container{
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  }

  .trend1 button, 
  .trendItem button{
  padding: 13px 60px;
  font-size: 17.5px;
  }

  .trend1 button:first-child{
  padding: 13px 60px;
  }

  /* Styles for empty cart */
  .emptyCart{
  margin-top: 20%;
  }

  .checkoutMain{
  flex-direction: column;
  }

  .formSub{
  padding: 30px 42px;
  }


  .yourOrder{
  max-width: 100%;
  padding: 0 5px;
  }

  .selectDelivery button:nth-child(2){
  padding: 10px 90px;
  gap: 15px;
  }

  .selectDelivery button{
  padding: 10px 90px;
  gap: 15px;
  }

  .shop-container-sub{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: left;
  }

  .wishesButton a{
  text-decoration: none;
  }


  .topImg-container{
  height: fit-content;
  }

  .bottomItem-container{
  margin: 0;
  padding: 15px 0 8px 8px;
  }

  .HoverDiv{
  height: 100%;
  }

  .bottomItem-top h1{
  margin-top: 0px;
  }

  .bottomItem-top h3{
  font-weight: 400;
  font-size: clamp(16px, 2vw, 16px);
  }

  }

